<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" position="end">

    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <app-menu-links></app-menu-links> <!-- Include menu list from menu-link.component -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
 
      <span routerLink=""><img src="{{dirPath}}assets/Ericssonlogo.png" width="23 " style="margin-top: 9px;height: 30px;"></span>
             <span style="padding-left: 8px">Integrated Service Flow</span>
      <span class="setLeft"></span>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button routerLink="">

      </button>
      <!-- <mat-icon aria-label="Side nav toggle icon">home</mat-icon> -->

      <app-menu-links *ngIf="!(isHandset$ | async)" classOnMenu='menuLinks'></app-menu-links>
      <!-- Include menu list from menu-link.component -->

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

    </mat-toolbar>
    <!-- Add Content Here -->

    <div class="contentArea">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>