<style>
    .labelFont{
font-size:13px;
    }
</style>
<div class="col-sm-12">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <input id="username" name="" type="text" placeholder="Username" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2">
                    <div class="col-sm-7">
                        <input id="password" name="" type="password" placeholder="Password" class="form-control input-sm">
                    </div>
                    <button name="" onclick="authenticateUser();" class="btn btn-primary" style=" background-color: #198cff;"><i class="fa fa-hand-o-right"></i>&nbsp;Login</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="checkbox labelFont col-sm-7">
                        <label style="color:white">
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <div class="checkbox labelFont" style="padding-left:  0px;">
                        <label style="color:white">
                            <a href="https://myaccount.ericsson.net/PMUser/" title="Click here to Redirect to Password Reset page" name="" style="color:white;margin-left:12px;"><i class="fa fa-external-link"></i>&nbsp;&nbsp;Reset password</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:10px;">
                <div class="col-sm-12 col-sm-offset-2">
                    <div class="checkbox labelFont col-sm-3" style="padding-left:  0px;">
                        <label style="color:white">
                            <a href="http://10.184.20.250/otrs/customer.pl" title="Click here to Redirect to OTRS" name="" style="color:white" target="_blank"><i class="fa fa-external-link"></i>&nbsp;OTRS Ticket</a>
                        </label>
                    </div>
                    <div class="checkbox labelFont" style="padding-left:  0px;">
                        <label style="color:white;margin-left:15px;" title="Stuck on ISF? Call ISF Support for help!" class="checkbox"><i class="fa fa-phone"></i>&nbsp;Helpdesk (889) - 38694</label>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-offset-7 labelFont" style="margin-top:15px;">
                    <div>
                        <a href="ma-chan://ericsson.com/37d3d07c-c043-4ac7-9850-bc337ac075ab" class="btn btn-success" style=" background-color: #9bc617;"><i class="fa fa-comments"></i>&nbsp;Live Chat</a>
                    </div>
                </div>
            </div>
            <div class="checkbox col-sm-offset-1" style="margin-top:10px;margin-left:30px;">
                <label style="font-size: 10px;color:white; text-align: center">*All the time stamp in the Application follows Indian Standard Time (IST)</label>
            </div>
            <div class="col-sm-10 col-sm-offset-1" style="border-bottom:1px solid white;">
            </div>
            <div style="margin-left:60px;">
                <a href="https://www.yammer.com/ericsson.com/#/threads/inGroup?type=in_group&amp;feedId=13651473&amp;view=all" target="_blank" alt="Yammer">
                    <img src="~/Content/images/Ericsson/Yammer_small.png" alt="Yammer" width="42" height="42" style="margin: 10px;">
                </a>
                <a href="https://ericsson.sharepoint.com/sites/IntegratedServiceFlow" target="_blank" alt="SharePoint">
                    <img src="~/Content/images/Ericsson/Sharepoint_small.png" alt="SharePoint" width="42" height="42" style="margin: 10px;">
                </a>
                <a href="https://ericsson.sharepoint.com/:w:/r/sites/IntegratedServiceFlowISF/Shared%20Documents/ISF%20FAQ.docx?d=wdf9530c631c846c4b29e91455527e282&csf=1&e=EKBDId" target="_blank" alt="FAQ">
                    <img src="~/Content/images/Ericsson/FAQs_small.png" alt="FAQ" width="42" height="42" style="margin: 10px;">
                </a>
                <a href="https://ericsson.sharepoint.com/:f:/r/sites/IntegratedServiceFlowISF/Shared%20Documents/ISF%20Release%20Document?csf=1&e=moCfln" target="_blank" alt="Release Documents">
                    <img src="~/Content/images/Ericsson/ReleaseNotes_small.png" alt="Release Documents" width="42" height="42" style="margin: 10px;">
                </a>
                @*<a href="https://ericsson.sharepoint.com/:f:/r/sites/IntegratedServiceFlowISF/Shared%20Documents/ISF%20module%20wise%20videos?csf=1&e=Jx6Dcb" target="_blank" alt="Training Videos">
                    <img src="~/Content/images/Ericsson/TrainingVideo_small.png" alt="Training Videos" width="42" height="42" style="margin: 10px;">
                </a>*@
            </div>
        </fieldset>
    </form>
</div>