@{
    ViewBag.Title = "ErrorLogout";
}
@{
    Layout = null;
}
<link type="text/css" rel="stylesheet" href="~/Content/CSS/ericssonCSS.css" media="all" />
<link type="text/css" rel="stylesheet" href="~/Content/CSS/style.css" media="all" />
@Styles.Render("~/bundles/css/bootstrap")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/config")
@Scripts.Render("~/bundles/bootstrap")
<html>

<head>
    <script>
        $(document).ready(function () {
            localStorage.clear();
         //    var url = 'isfFloatingWindow:exec_' + "null" + '_logout';
         //   window.open(url, '_self');
        })
    </script>
    <style>
        hr.style14 {
            border: 0;
            height: 1px;
            width: 70%;
            margin-top: 8px;
            background-image: -webkit-linear-gradient(left, #f0f0f0, #213c62, #f0f0f0);
            background-image: -moz-linear-gradient(left, #f0f0f0, #213c62, #f0f0f0);
            background-image: -ms-linear-gradient(left, #f0f0f0, #213c62, #f0f0f0);
            background-image: -o-linear-gradient(left, #f0f0f0, #213c62, #f0f0f0);
        }

        .center-div {
            position: absolute;
            margin: auto;
            top: 400px;
            right: 0;
            bottom: 0;
            left: 0;
            height: 70%;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="eaContainer-SystemBar container-fluid top-bar">
            <div class="eaContainer-SystemBar-logo">
                <div class="isf-heading" style="padding: 4px 0 0 35px;">ISF <span style="font-size:12px;">Integrated Service Flow</span></div>
            </div>


        </div>
        <br />
        <div class="center-div" style="text-align:center">
            <div style="font-size: 35px;color: #132f58;">
                &nbsp;Dear User, Your Details not available in authorized User list (HRMS). Please reach out to Support team to know More..
            </div>
            <hr class="style14">
            <br />
           
        </div>
    </div>





</body>
</html>
<script>
    let time = 2;
       
        // Update the count down every 1 second
        let countdownTimer = setInterval(function () {
            let min = parseInt(time / 60);
            let sec = (time % 60);
            var finalTime = " " + (time > 60 || time == 60) ? (min < 10 ? "0" + min : min) + ":" + (sec < 10 ? "0" + sec : sec) : "00:" + (sec < 10 ? "0" + sec : sec);

           // if (time < 11) {
                //$("#demo").css("color", "#e24944");
                //document.getElementById("demo").innerHTML = "<blink>" + finalTime + "</blink>";
           // }
            //else {
                //document.getElementById("demo").innerHTML = finalTime;
            //}

            time--;
            if (time < 0) {
                clearInterval(countdownTimer);
                localStorage.clear();
                window.location.href = UiRootDir + '/Login/SignOut?returnUrl=SessionTimeOut';
            }

        }, 1000);


</script>
