<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="120"/>
        <setting name="callSettersOnNulls" value="true" />
        <setting name="logImpl" value="LOG4J"/> 
    </settings>
    <typeAliases>
    	<typeAlias type='com.ericsson.isf.model.ReportModel' alias='ReportModel'/>	
        <typeAlias type='com.ericsson.isf.model.DomainModel' alias='DomainModel'/>
        <typeAlias type='com.ericsson.isf.model.ServiceAreaModel' alias='ServiceAreaModel'/>
        <typeAlias type='com.ericsson.isf.model.TechnologyModel' alias='TechnologyModel'/>
        <typeAlias type='com.ericsson.isf.model.StandardActivityModel' alias='StandardActivityModel'/>
        <typeAlias type='com.ericsson.isf.model.TaskModel' alias='TaskModel'/>
        <typeAlias type='com.ericsson.isf.model.ToolsModel' alias='ToolsModel'/>
        <typeAlias type='com.ericsson.isf.model.TaskToolModel' alias='TaskToolModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkOrderPlanModel' alias='WorkOrderPlanModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkOrderPlanNodesModel' alias='WorkOrderPlanNodesModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkOrderModel' alias='WorkOrderModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkOrderNodesModel' alias='WorkOrderNodesModel'/>
        <typeAlias type='com.ericsson.isf.model.ActivityMasterModel' alias='ActivityMasterModel'/>
        <typeAlias type='com.ericsson.isf.model.FlowChartStepModel' alias='FlowChartStepModel'/>
        <typeAlias type='com.ericsson.isf.model.FlowChartDefModel' alias='FlowChartDefModel'/>
        <typeAlias type='com.ericsson.isf.model.FlowChartDependencyModel' alias='FlowChartDependencyModel'/>
        <typeAlias type='com.ericsson.isf.model.FlowChartStepDetailsModel' alias='FlowChartStepDetailsModel'/>
	<typeAlias type='com.ericsson.isf.model.EmployeeModel' alias='EmployeeModel'/>
        <typeAlias type='com.ericsson.isf.model.ProjectApprovalModel' alias='ProjectApprovalModel'/>
        <typeAlias type='com.ericsson.isf.model.ResourceRequestCompetenceModel' alias='ResourceRequestCompetenceModel'/>
        <typeAlias type='com.ericsson.isf.model.ResourceRequestCertificationModel' alias='ResourceRequestCertificationModel'/>
	<typeAlias type='com.ericsson.isf.model.WorkOrderViewModel' alias='WorkOrderViewModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkOrderViewProjectModel' alias='WorkOrderViewProjectModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkOrderViewScopeModel' alias='WorkOrderViewScopeModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkOrderViewActivityModel' alias='WorkOrderViewActivityModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkFlowAvailabilitySearchModel' alias='WorkFlowAvailabilitySearchModel'/>
	 <typeAlias type='com.ericsson.isf.model.NetworkElementModel' alias='NetworkElementModel'/>
        <typeAlias type='com.ericsson.isf.model.VendorModel' alias='VendorModel'/>
        <typeAlias type='com.ericsson.isf.model.ActivityMasterModel' alias='ProjectDefinedTaskModel'/>
        <typeAlias type='com.ericsson.isf.model.FlowChartJsonModel' alias='FlowChartJsonModel'/>
        <typeAlias type='com.ericsson.isf.model.OpportunityModel' alias='OpportunityModel'/>
        <typeAlias type='com.ericsson.isf.model.ActivityScopeModel' alias='ActivityScopeModel'/>
        <typeAlias type='com.ericsson.isf.model.ProjectScopeDetailModel' alias='ProjectScopeDetailModel'/>
        <typeAlias type='com.ericsson.isf.model.ProjectScopeModel' alias='ProjectScopeModel'/>
        <typeAlias type='com.ericsson.isf.model.AdhocWorkOrderModel' alias='AdhocWorkOrderModel'/>
        <typeAlias type='com.ericsson.isf.model.ProjectsModel' alias='ProjectsModel'/>
        <typeAlias type='com.ericsson.isf.model.ProjectFilterModel' alias='ProjectFilterModel'/>
	<typeAlias type='com.ericsson.isf.model.SearchPlannedWOProjectModel' alias='SearchPlannedWOProjectModel'/>
        <typeAlias type='com.ericsson.isf.model.SearchPlannedWODetailsModel' alias='SearchPlannedWODetailsModel'/>
        <typeAlias type='com.ericsson.isf.model.SearchPlannedWOForTasksModel' alias='SearchPlannedWOForTasksModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkOrderBookingDetailsModel' alias='WorkOrderBookingDetailsModel'/>
        <typeAlias type='com.ericsson.isf.model.ProjectNodeTypeModel' alias='ProjectNodeTypeModel'/>
	<typeAlias type='com.ericsson.isf.model.SubactivityModel' alias='SubactivityModel'/>
	<typeAlias type='com.ericsson.isf.model.TransferWorkOrderModel' alias='TransferWorkOrderModel'/>
	<typeAlias type='com.ericsson.isf.model.WOBookingDetailsModel' alias='WOBookingDetailsModel'/>
        <typeAlias type='com.ericsson.isf.model.ServeAreaModel' alias='ServeAreaModel'/>
	<typeAlias type='com.ericsson.isf.model.AdhocWorkOrderCreationModel' alias='AdhocWorkOrderCreationModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkOrderAcceptanceModel' alias='WorkOrderAcceptanceModel'/>
        <typeAlias type='com.ericsson.isf.model.SaveClosureDetailsForWOModel' alias='SaveClosureDetailsForWOModel'/>
        <typeAlias type='com.ericsson.isf.model.ResourceRequestModel' alias='ResourceRequestModel'/>
        <typeAlias type='com.ericsson.isf.model.ResourcePositionModel' alias='ResourcePositionModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkFlowBookingDetailsModel' alias='WorkFlowBookingDetailsModel'/>
        <typeAlias type='com.ericsson.isf.model.OrganizationModel' alias='OrganizationModel'/>
        <typeAlias type='com.ericsson.isf.model.AccessProfileModel' alias='AccessProfileModel'/>
        <typeAlias type='com.ericsson.isf.model.ClosedWODetailsModel' alias='ClosedWODetailsModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkOrderActivityDetailsModel' alias='WorkOrderActivityDetailsModel'/>
        <typeAlias type='com.ericsson.isf.model.ReasonFromWOModel' alias='ReasonFromWOModel'/>
        <typeAlias type='com.ericsson.isf.model.ResourceModel' alias='ResourceModel'/>
		<typeAlias type='com.ericsson.isf.model.WorkOrderCompleteDetailsModel' alias='WorkOrderCompleteDetailsModel'/>		
        <typeAlias type='com.ericsson.isf.model.UserAccessProfileModel' alias='UserAccessProfileModel'/>        
        <typeAlias type='com.ericsson.isf.model.InProgressWorkOrderModel' alias='InProgressWorkOrderModel'/>     
        <typeAlias type='com.ericsson.isf.model.ChangeRequestPositionModel' alias='ChangeRequestPositionModel'/>        
        <typeAlias type='com.ericsson.isf.model.UserAccessProfileBySignumModel' alias='UserAccessProfileBySignumModel'/>        
        <typeAlias type='com.ericsson.isf.model.CurrentWorkOrderModel' alias='CurrentWorkOrderModel'/>    
        <typeAlias type='com.ericsson.isf.model.RoleModel' alias='RoleModel'/>
        <typeAlias type='com.ericsson.isf.model.CPMModel' alias='CPMModel'/>
        <typeAlias type='com.ericsson.isf.model.ModifyDemandModel' alias='ModifyDemandModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkOrderViewDetailsByWOIDModel' alias='WorkOrderViewDetailsByWOIDModel'/>
        <typeAlias type='com.ericsson.isf.model.ResourceRequestByFilterModel' alias='ResourceRequestByFilterModel'/>
        <typeAlias type='com.ericsson.isf.model.SearchResourceByFilterModel' alias='SearchResourceByFilterModel'/>
        <typeAlias type='com.ericsson.isf.model.CapabilityModel' alias='CapabilityModel'/>
        <typeAlias type='com.ericsson.isf.model.ScopeTaskMappingModel' alias='ScopeTaskMappingModel'/>
        <typeAlias type='com.ericsson.isf.model.AssignedUserModel' alias='AssignedUserModel'/>
        <typeAlias type='com.ericsson.isf.model.DeliveryResponsibleModel' alias='DeliveryResponsibleModel'/>
	<typeAlias type='com.ericsson.isf.model.ResourcePositionWorkEffortModel' alias='ResourcePositionWorkEffortModel'/>
	<typeAlias type='com.ericsson.isf.model.AccessUserProfileModel' alias='AccessUserProfileModel'/>
        <typeAlias type='com.ericsson.isf.model.AccessProfileUserDetailModel' alias='AccessProfileUserDetailModel'/>
        <typeAlias type='com.ericsson.isf.model.UserDetailsAccessModel' alias='UserDetailsAccessModel'/>
        <typeAlias type='com.ericsson.isf.model.PreviousStepDetailsModel' alias='PreviousStepDetailsModel'/>        
	<typeAlias type='com.ericsson.isf.model.WorkOrderFailureReasonModel' alias='WorkOrderFailureReasonModel'/>
	<typeAlias type='com.ericsson.isf.model.AllocatedResourceModel' alias='AllocatedResourceModel'/>	
	<typeAlias type='com.ericsson.isf.model.LastStepDetailsModel' alias='LastStepDetailsModel'/>
	<typeAlias type='com.ericsson.isf.model.CompetenceSubModel' alias='CompetenceSubModel'/>
        <typeAlias type='com.ericsson.isf.model.WOWorkFlowModel' alias='WOWorkFlowModel'/>
        <typeAlias type='com.ericsson.isf.model.BookedResourcesModel' alias='BookedResourcesModel'/>
        <typeAlias type='com.ericsson.isf.model.RPABookingModel' alias='RPABookingModel'/>
        <typeAlias type='com.ericsson.isf.model.AccessProfileRequestModel' alias='AccessProfileRequestModel'/>
        <typeAlias type='com.ericsson.isf.model.MailModel' alias='MailModel'/>
        <typeAlias type='com.ericsson.isf.model.CRManagementModel' alias='CRManagementModel'/>
        <typeAlias type='com.ericsson.isf.model.ProposedResourcesModel' alias='ProposedResourcesModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkEffortModel' alias='WorkEffortModel'/>
        <typeAlias type='com.ericsson.isf.model.ErrorBean' alias='ErrorBean'/>
	<typeAlias type='com.ericsson.isf.model.WorkFlowStepDetailsModel' alias='WorkFlowStepDetailsModel'/>		
        <typeAlias type='com.ericsson.isf.model.WORelatedDetails' alias='WORelatedDetails'/>        
        <typeAlias type='com.ericsson.isf.model.NodeTypeModel' alias='NodeTypeModel'/>
        <typeAlias type='com.ericsson.isf.model.RPAWorkOrderDetails' alias='RPAWorkOrderDetails'/>
        <typeAlias type='com.ericsson.isf.model.ResourceRequestWorkEffortsModel' alias='ResourceRequestWorkEffortsModel'/>
        <typeAlias type='com.ericsson.isf.model.UserLoginModel' alias='UserLoginModel'/>
        <typeAlias type='com.ericsson.isf.model.CapabilityPageGroupModel' alias='CapabilityPageGroupModel'/>
        <typeAlias type='com.ericsson.isf.model.CapabilityPageNameModel' alias='CapabilityPageNameModel'/>
        <typeAlias type='com.ericsson.isf.model.WorkFlowApprovalModel' alias='WorkFlowApprovalModel'/>
         <typeAlias type='com.ericsson.isf.model.StepTaskModel' alias='StepTaskModel'/>
         <typeAlias type='com.ericsson.isf.model.SoftHumanDumpModel' alias='SoftHumanDumpModel'/>
         <typeAlias type='com.ericsson.isf.model.FlowChartStepInformationModel' alias='FlowChartStepInformationModel'/>
         <typeAlias type='com.ericsson.isf.model.ProjectComponentModel' alias='ProjectComponentModel'/>
          <typeAlias type='com.ericsson.isf.model.ProjectsTableModel' alias='ProjectsTableModel'/>
         <typeAlias type='com.ericsson.isf.model.ProjectDocumentModel' alias='ProjectDocumentModel'/>
         <typeAlias type='com.ericsson.isf.model.ExportedReportHistoryModel' alias='ExportedReportHistoryModel'/>
         <typeAlias type='com.ericsson.isf.model.UserWorkFlowProficencyModel' alias='UserWorkFlowProficencyModel'/>
          <typeAlias type='com.ericsson.isf.model.WorkOrderProgressModel' alias='WorkOrderProgressModel'/>
          <typeAlias type='com.ericsson.isf.model.WorkFlowDefinitionModel' alias='WorkFlowDefinitionModel'/>
          <typeAlias type='com.ericsson.isf.model.WorkFlowLinksModel' alias='WorkFlowLinksModel'/>
          <typeAlias type='com.ericsson.isf.model.WorkFlowStepsModel' alias='WorkFlowStepsModel'/>
          <typeAlias type='com.ericsson.isf.model.WorkFlowStepAttrModel' alias='WorkFlowStepAttrModel'/>
          <typeAlias type='com.ericsson.isf.model.WorkFlowLinksVerticesModel' alias='WorkFlowLinksVerticesModel'/>
          <typeAlias type='com.ericsson.isf.model.CustomerModel' alias='CustomerModel'/>
          <typeAlias type='com.ericsson.isf.model.UserFeedbackModel' alias='UserFeedbackModel'/>
          <typeAlias type='com.ericsson.isf.model.ExternalActivitySubactivityModel' alias='ExternalActivitySubactivityModel'/>
          <typeAlias type='com.ericsson.isf.model.WorkInstructionModel' alias='WorkInstructionModel'/>
          <typeAlias type='com.ericsson.isf.model.ProjectSpecificToolModel' alias='ProjectSpecificToolModel'/>
          <typeAlias type='com.ericsson.isf.model.DeliveryAcceptanceModel' alias='DeliveryAcceptanceModel'/>
          <typeAlias type='com.ericsson.isf.model.RPMModel' alias='RPMModel'/>
          <typeAlias type='com.ericsson.isf.model.RPMModel' alias='RPMModel'/>
          <typeAlias type='com.ericsson.isf.model.LeavePlanModel' alias='LeavePlanModel'/>
          <typeAlias type='com.ericsson.isf.model.ShiftTimmingModel' alias='ShiftTimmingModel'/>
          <typeAlias type='com.ericsson.isf.model.TimeZoneModel' alias='TimeZoneModel'/>
          <typeAlias type='com.ericsson.isf.model.ProjectDeliverableUnitModel' alias='ProjectDeliverableUnitModel'/>
          <!-- <typeAlias type='com.ericsson.isf.model.ASPVendorModel' alias='ASPVendorModel'/> -->
          <typeAlias type='com.ericsson.isf.model.ShiftTimmingModel2' alias='ShiftTimmingModel2'/>
          <typeAlias type='com.ericsson.isf.model.EnvironmentPropertyModel' alias='EnvironmentPropertyModel'/>
          <typeAlias type='com.ericsson.isf.model.TokenMappingModel' alias='TokenMappingModel'/>
          <typeAlias type='com.ericsson.isf.model.ProjectDetailsModel' alias='ProjectDetailsModel'/>
          <typeAlias type='com.ericsson.isf.model.ScopeDetailModel' alias='ScopeDetailModel'/>
          <typeAlias type='com.ericsson.isf.model.ProjectCreationModel' alias='ProjectCreationModel'/>
          <typeAlias type='com.ericsson.isf.model.ProjectDocumentModel' alias='ProjectDocumentModel'/>
          <typeAlias type='com.ericsson.isf.model.ProjectAllDetailsModel' alias='ProjectAllDetailsModel'/>
          <typeAlias type='com.ericsson.isf.model.OpportunityDetailsModel' alias='OpportunityDetailsModel'/>
          <typeAlias type='com.ericsson.isf.model.ProjectDocumentModel' alias='ProjectDocumentModel'/>
          <typeAlias type='com.ericsson.isf.model.DbJobsModel' alias='DbJobsModel'/>
          <typeAlias type='com.ericsson.isf.model.ServiceStartStopModel' alias='ServiceStartStopModel'/>
		  <typeAlias type='com.ericsson.isf.model.CreateWorkOrderModel' alias='CreateWorkOrderModel'/>
		  <typeAlias type='com.ericsson.isf.model.ProjectScopeDetailMappingModel' alias='ProjectScopeDetailMappingModel'/>
		  <typeAlias type='com.ericsson.isf.model.ScopeDetailsModel' alias='ScopeDetailsModel'/>
		  <typeAlias type='com.ericsson.isf.model.ActiveProjectScopeModel' alias='ActiveProjectScopeModel'/>
		  <typeAlias type='com.ericsson.isf.model.DOWOModel' alias='DOWOModel'/>
		  <typeAlias type='com.ericsson.isf.model.ActivityModel' alias='activityModel'/>
		  <typeAlias type='com.ericsson.isf.model.WorkOrderOutputFileModel' alias='WorkOrderOutputFileModel'/>
		  <typeAlias type='com.ericsson.isf.model.WorkFlowFeedbackModel' alias='WorkFlowFeedbackModel'/>
		  <typeAlias type='com.ericsson.isf.model.WorkFlowFeedbackActivityModel' alias='WorkFlowFeedbackActivityModel'/>
		  <typeAlias type='com.ericsson.isf.model.AutoSenseRuleFlowchartModel' alias='AutoSenseRuleFlowchartModel'/>
		  <typeAlias type='com.ericsson.isf.model.ApiManagerUserModel' alias='ApiManagerUserModel'/>
		  <typeAlias type='com.ericsson.isf.model.ApiManagerIdentity' alias='ApiManagerIdentity'/>
		  <typeAlias type='com.ericsson.isf.model.InProgressTaskModel' alias='InProgressTaskModel'/>
		  <typeAlias type='com.ericsson.isf.model.ProficiencyTypeModal' alias='ProficiencyTypeModal'/>
		  <typeAlias type='com.ericsson.isf.model.ChildStepDetailsModel' alias='ChildStepDetailsModel'/>
		  <typeAlias type='com.ericsson.isf.model.DacModel' alias='DacModel'/>
		  <typeAlias type='com.ericsson.isf.model.FlowChartReverseTraversalModel' alias='FlowChartReverseTraversalModel'/>
		  <typeAlias type='com.ericsson.isf.model.ProjectModel' alias='ProjectModel'/>
		  <typeAlias type='com.ericsson.isf.model.ServiceRequestModel' alias='ServiceRequestModel'/>
	       <typeAlias type='com.ericsson.isf.model.DemandForecastDetailModel' alias='DemandForecastDetailModel'/>
	       <typeAlias type='com.ericsson.isf.model.VendorTechModel' alias='VendorTechModel'/>
	       <typeAlias type='com.ericsson.isf.model.DemandForecastFulfillmentModel' alias='DemandForecastFulfillmentModel'/>
	      
	       
    </typeAliases>
    
</configuration>
