/*Delivery Execution*/


.clockdate-wrapper {
    padding: 3px;
    max-width: 100px;
    text-align: center;
   // border-radius: 30px;
   // border: 1px solid #73AD21;
    margin: 0 auto;
}

#clockMan {
       font-size: 22px;
    font-family: fantasy;
    text-align: left;
    color: #00d6b9;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

/*#clockAuto {*/
 .clock {
    font-size: 22px;
    /*font-family: fantasy;*/
    text-align: left;
    color: #00d6b9;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    /*vertical-align: middle;*/
}

.well {
    background-color: rgba(8, 8, 250, 0);
    box-shadow: 0 2px 6px mediumslateblue;
}
.running-header{
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #a2c517 10%, #009046 30%, #0082b6 50%, #151f77 70%, #db0050 100%);
}

.running-task{
    /*height:40px;
    margin: 0 10px 0;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 6px lightsteelblue;
    display:flex;*/

    height: 33px;
    /* margin: 0 0px 0; */
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 6px lightsteelblue;
    display: flex;
}

.bg {
            /* The image used */
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            
            background-repeat: no-repeat;
            background-size: cover;
        }

        .centered {
            position: fixed; /* or absolute */
            top: 30%;
            left: 50%;
           
            margin-left: -30px;
        }

/**************    For table p tag ***************************/

.projectDetails-cellmargin {
    margin-bottom: 0px;
}

/**CSS FOR THE RING**/

.glyphicon-ring {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-top: 5px;
    color: white;
    display: inline-table;
    text-align: center;
}

.glyphicon-mediumorchid {
    background: mediumorchid;
}

.glyphicon-blue {
    background: blue;
}

.glyphicon-orangered {
    background: orangered;
}
.glyphicon-green {
    background: forestgreen;
}


img .loading {
    content:url(/Content/images/loading-1.gif);
    width:50px;
    height:50px;
}

.astrick:before {
            color: red;
            content: "*";
        }

.popover {
    max-width: 100%;
    // Max Width of the popover (depending on the container!)
}