<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ericsson.isf.mapper.DbJobsMapper">

	<resultMap type="DbJobsModel" id="DbJobsResult">
		<result property="errorCode" column="errorCode" />
		<result property="errorMsg" column="errorMsg" />
	</resultMap>

	<select id='startJob' statementType="CALLABLE"
		resultMap="DbJobsResult">


		{call [dbo].usp_executejob(#{procedureName})}
	</select>

	<select id='stopJob' statementType="CALLABLE"
		resultMap="DbJobsResult">


		{call [dbo].usp_stopjob(#{procedureName})}

	</select>
</mapper>