.menuLinks{
    display: flex;
}

.menuLinks a{
    padding-left: 10px;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  li{
      list-style: none;
  }

  /* .setLeft{
      flex: 1 1 auto;
  } */