.mat-tab-body-wrapper{
  margin-top: 10px !important;
}

table {
    width: 100%;
  }

.mat-grid-tile {   
    overflow: visible;
}


.title-tem >::ng-deep .mat-figure{
    align-items: flex-start;
    justify-content: flex-start;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  .example-container > * {
    width: 100%;
  }


  .example-card{
width: 90%;
  }

  