@{
    ViewBag.Title = "Reports";
}
<div class="col-md-12">
    <!--
    <div class="panel panel-default">
        <div class="panel-heading">
        Generate Reports
    </div>
    -->
@*<section>   *@

<div class="row">
    <div class="col-md-12">
        <div class="widget-container fluid-height">

            <div class="tab-content" id="my-tab-content">
                @{Html.RenderPartial("_generateReports");}
            </div>
        </div>
    </div>
</div>


@*</section>*@
    </div>
</div>