<div id="requestInfo" class="modal" role="dialog" style="top:70px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="pull-left">
                <a onclick="this.href = downloadISFSetup" id="onMainHeader_downloadApp" class="btn-default btn-sm" style="cursor: pointer"><i class="fa fa-download" aria-hidden="true"></i> Download ISF setup</a>
            </div>
            <h4 class="modal-title" id="projectName"></h4>
        </div>
        <div class="modal-body" id="requestDetailsInfo">
            <table class="table table-striped">
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <button type="button" id="testBtnNewRequest" data-details="" class="btn btn-sm btn-warning testNewBotRequest" style="margin-left:10px">TEST BOT</button>
        </div>
    </div>
</div>