<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Bot Verification
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>