
.edsBackgroundColour {
    background-color: black;
}

.edsHyperlink {
    color: #93ACDF;
}

.edsFontColour {
    color: #F2F2F2;
}

.edsBlueButton {
    background-color : #0077DB;
}

.edsRedButton {
    background-color: #DC2D37;
}

