<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->


  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="JavaRestVMApiUrl" value="https://non-prod.integratedserviceflow.ericsson.net/isf-rest-server-java_PT/"/>
    <add key="JavaRestApiUrl" value="https://preprod.integratedserviceflow.ericsson.net/isf-rest-server-java_PT/"/>
    <add key="LoginMode" value="AZUREAD"/>
    <add key="IsLoggingEnabled" value="NO"/>
    <add key="ConnectRetryCount" value="20"/>
    <add key="ReconnectRetryInterval" value="3000"/>
    <add key="KeepAliveInterval" value="10"/>

    <add key="ClientId" value="991c7eeb-66e7-4385-949a-05c6e3f37696" />
    <add key="RedirectUrl" value="https://preprod.integratedserviceflow.ericsson.net/ISF_UI_PERF_TESTING/" />
    <add key="Tenant" value="92e84ceb-fbfd-47ab-be52-080c6b87953f" />
    <add key="Authority" value="https://login.microsoftonline.com/{0}" />
    <add key="SessionTimeOutInterval" value="60" />
    <add key="Stackify.AppName" value="ISF_SIT_Minor_UI"/>
    <add key="Stackify.Environment" value="ISF SIT"/>
    <add key="MinThread" value="200"/>
    <add key="RedisPoolSize" value="10"/>
    <add key="RedisSyncTimeoutInMs" value="10000"/>
  			<add key="AzVaultUrl"
      value="NDd8MTE2fDEwMXwxMTB8NDZ8MTAxfDExNHwxMTd8MTIyfDk3fDQ2fDExNnwxMDh8MTE3fDk3fDExOHw0Nnw0OXw0OHwxMTh8MTA3fDExNHwxMDJ8MTEwfDEwNXwxMTJ8MTEyfDUxfDExMnw0N3w0N3w1OHwxMTV8MTEyfDExNnwxMTZ8MTA0"/>
		<add key="AppId"
      value="MTAyfDUzfDk5fDUwfDU1fDU1fDEwMHw0OXw1M3wxMDF8NDl8NTB8NDV8OTh8NTd8OTl8OTd8NDV8OTd8NTR8OTh8NTJ8NDV8NTB8NTJ8NTZ8MTAwfDQ1fDQ4fDk3fDk4fDU2fDUxfDUwfDU0fDk5"/>
		<add key="AppSecret"
      value="ODN8MTEwfDEwNnwxMTh8MTI2fDU0fDEwNXw3M3wxMjZ8NTd8ODN8NzB8MTEyfDEyNnw0Nnw1Nnw4NHwxMDR8MTEzfDEyNnwxMTV8MTE4fDEyNnw5N3w0OXwxMTl8NzF8Nzl8MTExfDU3fDEyNnw3MHwxMDh8NjU="/>
		<add key="RedisConnectionKeyVersion"
      value="NDh8NTF8MTAyfDU1fDk4fDk3fDEwMnw1M3w1N3w1N3w5OHw1N3wxMDF8NTB8NTB8NTd8NTR8NTF8NTZ8NTJ8MTAwfDk3fDk4fDQ4fDk5fDQ4fDk4fDU1fDUzfDU0fDk4fDQ4"/>
		<add key="RedisConnectionKey" value="ISFInfrRedisC01Key"/>
	<add key="RedisConnection"
      value="P5InfrRedisCache-PerfTest.redis.cache.windows.net:6380,password=n1JD4EmMPMklAzIXfywuN2v9AygnB3YjnAzCaJBaro4=,ssl=True,abortConnect=False"/>
	<add key="AzureSignalRConnectionString"
      value="Endpoint=https://isfinfrsignalr01-perftest.service.signalr.net;AccessKey=NpPh1nzQ1O5IvjeLugrxWNsbaljE5Gkq/93whpAvQLg=;Version=1.0;"/>
    <add key="AzureSignalRHubURL" value="https://p5infrappsrvsignalr01-perftest.azurewebsites.net/serverpush"/>
    <add key="LogFileRetainLimit" value="5"/>
    <add key="LogDirectoryPath" value="D:\home\LogFiles\ISFAPITransactionAndExceptionLogs\"/>
    <add key="InstrumentationSecret" value="81fff227-dc23-4535-9cda-042cfdac5b2c"/>
    <add key="RedisCacheKeyExpired" value="12"/>
		 <add key="AbsUrl" value="preprod.integratedserviceflow.ericsson.net"/>
		 <add key="IsFileLoggingEnabled" value="false"/>
<add key="ApiAuthKey" value="MTIxfDEwMXw3NXwxMDR8MTE2fDExN3w2NXwxMDV8MTEyfDY1"/>
<add key="NotificationApiUrl" value="https://p5infrappsrvsignalr01-perftest.azurewebsites.net/api/notifications/requests"/>		 
    <add key="userNameMQTT" value="okqlevra:okqlevra"/>
    <add key="passwordMQTT" value="4Y3k9i0Ikbu-Pz9511F67LVxomuWYFFh"/>
    <add key="hostNameMQTT" value="hasty-pink-owl.rmq.cloudamqp.com"/>
	<add key="isRedisCacheClear" value="true"/>
    <add key="RootDir" value="/ISF_UI_PERF_TESTING/"/>
    <add key="environment" value="PerfTest"/>
	<add key="MQTT_KEY" value="n4HTbJEmsR"/>
    <add key="downloadISFSetup" value="https://p2preprodinfrstorage01.blob.core.windows.net/p2preprodisfdesktop-01/ISFSetupPerfTest.zip"/>
    <add key="downloadOutlookAddin" value="https://p2preprodinfrstorage01.blob.core.windows.net/p2preprodisfdesktop-01/ISFOutlookAddIn.zip"/>
    <add key ="gtagUrl" value="https://www.googletagmanager.com/gtag/js?id=UA-180999784-1"/>
    <add key="botNestExternalUrl" value="https://botnest.internal.ericsson.com/bn"/>
    <add key="AppInsights_Instrumentation_Key" value="ae9d20ea-27f5-4c4e-b3c2-7945fa475fa0"/>
    <add key="uploadWIFile" value="https://isfpreprod.internal.ericsson.com/fPath/"/>
    <add key="uploadNE" value="https://p2preprodinfrstorage01.blob.core.windows.net/isfcommoncontainer/"/>
    <add key="pathUrlNE" value="sp=racwdli&amp;st=2022-03-04T05:46:22Z&amp;se=2022-06-29T13:46:22Z&amp;spr=https&amp;sv=2020-08-04&amp;sr=c&amp;sig=w0v9yZ8THpvBP4zsCV36qrMgqvsOQGojq4lfw%2BRJoy4%3D"/>
	 <add key="DR_ACCESS_DEFAULT_VALUE" value="5"/>
    <add key="MANUAL_STEP_EXE_DEFAULT_VALUE" value="10"/>
    <add key="AUTOMATIC_STEP_EXE_DEFAULT_VALUE" value="8"/>
    <add key="NO_OF_WO_NEID_DEFAULT_VALUE" value="30"/>
    <add key="MANUAL_AUTO_STEP_CREATION_DEFAULT_VALUE" value="8"/>
    <add key="DECISION_STEP_CREATION_DEFAULT_VALUE" value="2"/>
  </appSettings>
 
   
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  
