<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->


  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="JavaRestVMApiUrl" value="https://non-prod.integratedserviceflow.ericsson.net/isf-rest-server-java_PP/"/>
    <add key="JavaRestApiUrl" value="https://preprod.integratedserviceflow.ericsson.net/isf-rest-server-java_PP/"/>
    <add key="LoginMode" value="AZUREAD"/>
    <add key="IsLoggingEnabled" value="NO"/>
    <add key="ConnectRetryCount" value="20"/>
    <add key="ReconnectRetryInterval" value="3000"/>
    <add key="KeepAliveInterval" value="10"/>

    <add key="ClientId" value="8d2a9243-4593-4783-993f-4741073cd4a5" />
    <add key="RedirectUrl" value="https://preprod.integratedserviceflow.ericsson.net/" />
    <add key="Tenant" value="92e84ceb-fbfd-47ab-be52-080c6b87953f" />
    <add key="Authority" value="https://login.microsoftonline.com/{0}" />
    <add key="SessionTimeOutInterval" value="30" />
    <add key="Stackify.AppName" value="ISF_PreProd_UI"/>
    <add key="Stackify.Environment" value="ISF PreProd UI"/>
    <add key="MinThread" value="200"/>
    <add key="RedisPoolSize" value="10"/>
    <add key="RedisSyncTimeoutInMs" value="10000"/>
   <add key="AzVaultUrl"
      value="NDd8MTE2fDEwMXwxMTB8NDZ8MTAxfDExNHwxMTd8MTIyfDk3fDQ2fDExNnwxMDh8MTE3fDk3fDExOHw0Nnw0OXw0OHwxMTh8MTA3fDExNHwxMDJ8MTEwfDEwNXwxMTJ8MTEyfDUxfDExMnw0N3w0N3w1OHwxMTV8MTEyfDExNnwxMTZ8MTA0"/>
		<add key="AppId"
      value="MTAyfDUzfDk5fDUwfDU1fDU1fDEwMHw0OXw1M3wxMDF8NDl8NTB8NDV8OTh8NTd8OTl8OTd8NDV8OTd8NTR8OTh8NTJ8NDV8NTB8NTJ8NTZ8MTAwfDQ1fDQ4fDk3fDk4fDU2fDUxfDUwfDU0fDk5"/>
		<add key="AppSecret"
      value="ODN8MTEwfDEwNnwxMTh8MTI2fDU0fDEwNXw3M3wxMjZ8NTd8ODN8NzB8MTEyfDEyNnw0Nnw1Nnw4NHwxMDR8MTEzfDEyNnwxMTV8MTE4fDEyNnw5N3w0OXwxMTl8NzF8Nzl8MTExfDU3fDEyNnw3MHwxMDh8NjU="/>
		<add key="RedisConnectionKeyVersion"
      value="NTN8NTd8NTZ8NTV8NTF8NTB8MTAxfDUzfDUyfDUwfDk5fDEwMnwxMDF8NTd8OTd8NTd8OTd8NTR8NDh8NTJ8OTh8NTF8NTB8OTh8OTh8NTd8NDh8OTl8NDl8NDl8NTF8NTY="/>
		<add key="RedisConnectionKey" value="P4InfrPPRedisC01Key"/>
		<add key="RedisConnection"
      value="P4InfrPPRedisC01.redis.cache.windows.net:6380,password=Ce4PyApStLQp1PsQcbRyZBcQXNOyYA3DPL8qAATl790=,ssl=True,abortConnect=False"/>
		<add key="AzureSignalRConnectionString"
      value="Endpoint=https://p4infrppsignalr01.service.signalr.net;AccessKey=YIoMOuGc7Ov2A+QgoLShM3GWpzcY/zN/G8HYuB8An1o=;Version=1.0;"/>
		<add key="AzureSignalRHubURL" value="https://p4infrsignalrwebapppp01.azurewebsites.net/serverpush"/>
    <add key="LogFileRetainLimit" value="5"/>
    <add key="LogDirectoryPath" value="D:\home\LogFiles\ISFAPITransactionAndExceptionLogs\"/>
    <add key="InstrumentationSecret" value="cb5373e3-9038-4ea2-9ed2-634ab8b66eb1"/>
    <add key="RedisCacheKeyExpired" value="12"/>
 <add key="AbsUrl" value="preprod.integratedserviceflow.ericsson.net"/>
		 <add key="IsFileLoggingEnabled" value="false"/>
<add key="userNameMQTT" value="okqlevra:okqlevra"/>
    <add key="passwordMQTT" value="4Y3k9i0Ikbu-Pz9511F67LVxomuWYFFh"/>
    <add key="hostNameMQTT" value="hasty-pink-owl.rmq.cloudamqp.com"/>
	<add key="NotificationApiUrl" value="https://p4infrsignalrwebapppp01.azurewebsites.net/api/notifications/requests"/>
<add key="ApiAuthKey" value="MTIxfDEwMXw3NXwxMDR8MTE2fDExN3w2NXwxMDV8MTEyfDY1"/>
    <add key="MQTT_KEY" value="n4HTbJEmsR"/>	
	  <add key="isRedisCacheClear" value="true"/>
    <add key="RootDir" value=""/>
    <add key="environment" value="Preprod"/>
    <add key="downloadISFSetup" value="https://p2preprodinfrstorage01.blob.core.windows.net/p2preprodisfdesktop-01/ISFSetup.zip"/>
    <add key="downloadOutlookAddin" value="https://p2preprodinfrstorage01.blob.core.windows.net/p2preprodisfdesktop-01/ISFOutlookAddIn.zip"/>
    <add key ="gtagUrl" value="https://www.googletagmanager.com/gtag/js?id=UA-172038275-1"/>
    <add key="botNestExternalUrl" value="https://botnest.internal.ericsson.com/bn/"/>
    <add key="AppInsights_Instrumentation_Key" value="cb5373e3-9038-4ea2-9ed2-634ab8b66eb1"/>
    <add key="uploadWIFile" value="https://isfpreprod.internal.ericsson.com/fPath/"/>
    <add key="uploadNE" value="https://p2preprodinfrstorage01.blob.core.windows.net/isfcommoncontainer/"/>
    <add key="pathUrlNE" value="sp=racwdli&amp;st=2022-03-04T05:46:22Z&amp;se=2022-06-29T13:46:22Z&amp;spr=https&amp;sv=2020-08-04&amp;sr=c&amp;sig=w0v9yZ8THpvBP4zsCV36qrMgqvsOQGojq4lfw%2BRJoy4%3D"/>
    <add key="DR_ACCESS_DEFAULT_VALUE" value="0"/>
    <add key="MANUAL_STEP_EXE_DEFAULT_VALUE" value="0"/>
    <add key="AUTOMATIC_STEP_EXE_DEFAULT_VALUE" value="0"/>
    <add key="NO_OF_WO_NEID_DEFAULT_VALUE" value="0"/>
    <add key="MANUAL_AUTO_STEP_CREATION_DEFAULT_VALUE" value="0"/>
    <add key="DECISION_STEP_CREATION_DEFAULT_VALUE" value="0"/>
  </appSettings>
 
   
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  
