<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->


  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="JavaRestVMApiUrl" value=""/>
    <add key="JavaRestApiUrl" value=""/>
    <add key="LoginMode" value="AZUREAD"/>
    <add key="IsLoggingEnabled" value="NO"/>
    <add key="ConnectRetryCount" value="20"/>
    <add key="ReconnectRetryInterval" value="3000"/>
    <add key="KeepAliveInterval" value="10"/>

    <add key="ClientId" value="2a24ffca-7d19-46a8-92ec-b4ce29e523cc" />
    <add key="RedirectUrl" value="https://integratedserviceflow.ericsson.net/" />
    <add key="Tenant" value="92e84ceb-fbfd-47ab-be52-080c6b87953f" />
    <add key="Authority" value="https://login.microsoftonline.com/{0}" />
    <add key="SessionTimeOutInterval" value="120" />
    <add key="Stackify.AppName" value="ISF_SIT_Minor_UI"/>
    <add key="Stackify.Environment" value="ISF SIT"/>
    <add key="MinThread" value="500"/>
    <add key="RedisPoolSize" value="200"/>
    <add key="RedisSyncTimeoutInMs" value="10000"/>
    <add key="AzVaultUrl"
    value="NDd8MTE2fDEwMXwxMTB8NDZ8MTAxfDExNHwxMTd8MTIyfDk3fDQ2fDExNnwxMDh8MTE3fDk3fDExOHw0Nnw0OXw0OHwxMTh8MTIxfDEwMXwxMDd8MTE4fDExNHwxMTV8MTE0fDEwMnwxMTB8MTA1fDUwfDExMnw0N3w0N3w1OHwxMTV8MTEyfDExNnwxMTZ8MTA0"/>
    <add key="AppId"
      value="MTAyfDUzfDk5fDUwfDU1fDU1fDEwMHw0OXw1M3wxMDF8NDl8NTB8NDV8OTh8NTd8OTl8OTd8NDV8OTd8NTR8OTh8NTJ8NDV8NTB8NTJ8NTZ8MTAwfDQ1fDQ4fDk3fDk4fDU2fDUxfDUwfDU0fDk5"/>
    <add key="AppSecret"
      value="ODN8MTEwfDEwNnwxMTh8MTI2fDU0fDEwNXw3M3wxMjZ8NTd8ODN8NzB8MTEyfDEyNnw0Nnw1Nnw4NHwxMDR8MTEzfDEyNnwxMTV8MTE4fDEyNnw5N3w0OXwxMTl8NzF8Nzl8MTExfDU3fDEyNnw3MHwxMDh8NjU="/>
    <add key="RedisConnectionKeyVersion"
      value="NDl8NTJ8NDl8NTR8MTAxfDEwMXw0OHwxMDB8NDl8OTd8OTl8OTl8NDl8MTAyfDUxfDU3fDk3fDUzfDU0fDUyfDEwMXw1Nnw1M3wxMDF8NTB8NTJ8MTAxfDk5fDEwMnwxMDF8NTd8NTc="/>
    <add key="RedisConnectionKey" value="P4InfProdRedisC01Key"/>
    <add key="RedisConnection" value="P4InfrProdRedisC01.redis.cache.windows.net:6380,password=++SeqQqH+PMtAGCspO2clWry7O4ztmEkEvh+GbU449A=,ssl=True,abortConnect=False"/>
    <add key="AzureSignalRConnectionString"
        value="Endpoint=https://p4infrprodsignalr01.service.signalr.net;AccessKey=/vnjMB0cxE3jgsO0VfinClnT59+P9f7WYABE2/Ptt0c=;Version=1.0;"/>
    <add key="AzureSignalRHubURL" value="https://p4infrprodsignalrwebapp01.azurewebsites.net/serverpush"/>
    <add key="MQTT_KEY" value="n4HTbJEmsR"/>
    <add key="LogFileRetainLimit" value="5"/>
    <add key="LogDirectoryPath" value="D:\home\LogFiles\ISFAPITransactionAndExceptionLogs\"/>
    <add key="InstrumentationSecret" value="3e8aa3eb-c666-48e4-82b9-ccb29ada6aac"/>
    <add key="RedisCacheKeyExpired" value="12"/>
    <add key="AbsUrl" value="integratedserviceflow.ericsson.net"/>
    <add key="IsFileLoggingEnabled" value="false"/>
    <add key="ApiAuthKey" value="MTAwfDExMXwxMTR8ODB8MTIxfDEwMXw3NXwxMDR8MTE2fDExN3w2NXwxMDV8MTEyfDY1" />
    <add key="NotificationApiUrl" value="https://p4infrprodsignalrwebapp01.azurewebsites.net/api/notifications/requests" />
    <add key="userNameMQTT" value="duqysvgv:duqysvgv" />
    <add key="passwordMQTT" value="2xvDLXjZagEpUO7FUuiv6kOFNB-lWQx3" />
    <add key="hostNameMQTT" value="big-olive-giraffe.rmq2.cloudamqp.com" />
    <add key="isRedisCacheClear" value="true" />
    <add key="RootDir" value=""/>
    <add key="environment" value="Prod"/>
    <add key="downloadISFSetup" value="https://p6infrprodstorage01.blob.core.windows.net/p2prodisfdesktop-01/ISFSetup.zip"/>
    <add key="downloadOutlookAddin" value="https://p6infrprodstorage01.blob.core.windows.net/p2prodisfdesktop-01/ISFOutlookAddIn.zip"/>
    <add key ="gtagUrl" value="https://www.googletagmanager.com/gtag/js?id=UA-160992847-1"/>
    <add key="botNestExternalUrl" value="https://botnest.internal.ericsson.com/bn/"/>
    <add key="AppInsights_Instrumentation_Key" value="73b064cb-c43d-421f-a9f6-8b1b646bfef4"/>
    <add key="uploadWIFile" value="https://isfpreprod.internal.ericsson.com/fPath/"/>
    <add key="uploadNE" value="https://p6infrprodstorage01.blob.core.windows.net/isfcommoncontainer/"/>
    <add key="pathUrlNE" value="sp=racwdli&amp;st=2022-05-04T08:10:38Z&amp;se=2022-08-09T16:10:38Z&amp;spr=https&amp;sv=2020-08-04&amp;sr=c&amp;sig=yHeHPpdepVQ1sAhL4PcaA2fnirBH9Rna5rWLnPSResw%3D"/>
	<add key="DR_ACCESS_DEFAULT_VALUE" value="15"/>
<add key="MANUAL_STEP_EXE_DEFAULT_VALUE" value="150"/>
<add key="AUTOMATIC_STEP_EXE_DEFAULT_VALUE" value="150"/>
<add key="NO_OF_WO_NEID_DEFAULT_VALUE" value="2500"/>
   <add key="MANUAL_AUTO_STEP_CREATION_DEFAULT_VALUE" value="45"/>
    <add key="DECISION_STEP_CREATION_DEFAULT_VALUE" value="15"/>
  </appSettings>
 
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  
