<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->


  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="JavaRestVMApiUrl" value="https://isfdevservices.internal.ericsson.com:8443/isf-rest-server-java_dev_minor/"/>
    <add key="JavaRestApiUrl" value="https://isfdevservices.internal.ericsson.com:8443/isf-rest-server-java_dev_minor/"/>
    <add key="LoginMode" value="AZUREAD"/>
    <add key="IsLoggingEnabled" value="NO"/>
    <add key="ConnectRetryCount" value="20"/>
    <add key="ReconnectRetryInterval" value="3000"/>
    <add key="KeepAliveInterval" value="10"/>

    <add key="ClientId" value="8f66661f-7abf-4408-a036-c3fbd2565c12" />
    <add key="RedirectUrl" value="https://isf-dev.internal.ericsson.com/ISF_UI_DEV_MINOR/" />
    <add key="Tenant" value="92e84ceb-fbfd-47ab-be52-080c6b87953f" />
    <add key="Authority" value="https://login.microsoftonline.com/{0}" />
    <add key="SessionTimeOutInterval" value="15" />
    <add key="MinThread" value="200"/>
    <add key="RedisPoolSize" value="10"/>
    <add key="RedisSyncTimeoutInMs" value="10000"/>
        <add key="AzVaultUrl" value="NDd8MTE2fDEwMXwxMTB8NDZ8MTAxfDExNHwxMTd8MTIyfDk3fDQ2fDExNnwxMDh8MTE3fDk3fDExOHw0NnwxMTZ8MTA4fDExN3w5N3wxMTh8NDV8MTE4fDEwMXwxMDB8NDV8MTAyfDExNXwxMDV8NDd8NDd8NTh8MTE1fDExMnwxMTZ8MTE2fDEwNA==" />
    <add key="AppId" value="MTAyfDUzfDk5fDUwfDU1fDU1fDEwMHw0OXw1M3wxMDF8NDl8NTB8NDV8OTh8NTd8OTl8OTd8NDV8OTd8NTR8OTh8NTJ8NDV8NTB8NTJ8NTZ8MTAwfDQ1fDQ4fDk3fDk4fDU2fDUxfDUwfDU0fDk5" />
    <add key="AppSecret" value="ODN8MTEwfDEwNnwxMTh8MTI2fDU0fDEwNXw3M3wxMjZ8NTd8ODN8NzB8MTEyfDEyNnw0Nnw1Nnw4NHwxMDR8MTEzfDEyNnwxMTV8MTE4fDEyNnw5N3w0OXwxMTl8NzF8Nzl8MTExfDU3fDEyNnw3MHwxMDh8NjU=" />
    <add key="RedisConnectionKeyVersion" value="NTN8NTZ8NTB8NTR8NTJ8NTR8NTd8OTh8NTV8NDl8NDh8MTAxfDUzfDEwMnw1Nnw5N3wxMDF8MTAyfDU1fDUyfDUzfDU2fDUwfDU2fDQ5fDQ5fDU0fDk3fDEwMnwxMDF8MTAxfDU2" />
    <add key="RedisConnectionKey" value="DevRedisConnection" />
  <add key="RedisConnection" value="P4InfrSITRedisC01.redis.cache.windows.net:6380,password=LTnxrkiBnyVCQbBAxKtimwSdngFTe2KslLBcXrRu0c8=,ssl=True,abortConnect=False" />
    <add key="AzureSignalRConnectionString" value="Endpoint=https://p4infrsitsignalr01.service.signalr.net;AccessKey=l0PHWF5WOz8OCRrRA5F6396TC71Xxt7PgVdFtMpf7hU=;Version=1.0;" />
    <add key="AzureSignalRHubURL" value="https://p4infrdevsignalrwebapp01.azurewebsites.net/serverpush" />
    <add key="LogFileRetainLimit" value="5" />
    <add key="LogDirectoryPath" value="C:\ISFAPITransactionAndExceptionLogs\" />
    <add key="InstrumentationSecret" value="a103a381-8863-4380-810c-f3ce55fbd7b6" />
    <add key="RedisCacheKeyExpired" value="12" />
    <add key="AbsUrl" value="isf-dev.internal.ericsson.com" />
    <add key="IsFileLoggingEnabled" value="false" />
    <add key="userNameMQTT" value="okqlevra:okqlevra" />
    <add key="passwordMQTT" value="4Y3k9i0Ikbu-Pz9511F67LVxomuWYFFh" />
    <add key="hostNameMQTT" value="hasty-pink-owl.rmq.cloudamqp.com" />
	<add key="isRedisCacheClear" value="true"/>
    <add key="RootDir" value="/ISF_UI_DEV_MINOR/"/>
    <add key="environment" value="Dev"/>
    <add key="downloadISFSetup" value="https://p2sitinfrstorage01.blob.core.windows.net/p2sitisfdesktop-01/ISFSetupDevMinor.zip"/>
    <add key="downloadOutlookAddin" value="https://p2sitinfrstorage01.blob.core.windows.net/p2sitisfdesktop-01/ISFOutlookAddIn.zip"/>
    <add key ="gtagUrl" value=""/>
    <add key="botNestExternalUrl" value="https://botnest.internal.ericsson.com/bn"/>
    <add key="AppInsights_Instrumentation_Key" value="ae9d20ea-27f5-4c4e-b3c2-7945fa475fa0"/>
    <add key="uploadWIFile" value="https://isfpreprod.internal.ericsson.com/fPath/"/>
    <add key="uploadNE" value="https://p2sitinfrstorage01.blob.core.windows.net/isfcommoncontainer/"/>
    <add key="pathUrlNE" value="?sv=2020-08-04&amp;ss=b&amp;srt=sco&amp;sp=rwdlactfx&amp;se=2021-12-26T21:43:24Z&amp;st=2021-09-29T13:43:24Z&amp;spr=https&amp;sig=f3m7A%2F0Egi4NkMCmnrCYqo%2BbpbQksR58OgHciXtKKnY%3D"/>
  </appSettings>

    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  
