@*Partial View for Bot Input Required Div - EORSTVE*@
<div class="col-md-6">
    <label>Input Required :</label>
    <div style="margin-left:-15px;">
        <div class="col-md-2" style="margin: 0px;">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input class="inputRequiredCheckboxOwnDev" type="checkbox" onchange="toggleCheckbox(this)" checked>
                    <span class="checkbox-custom rectangular"></span>
                </label>
            </div>
        </div>
        <div>
            <label class="forLabel inputLabel">Bot Input Required</label>
        </div>
    </div>
</div>